* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 100;
    background-color: #FAFAFA
}

header {
    position: relative;
    margin-top: 5px
}

@media(orientation:landscape) {
    header {
        margin-top: 5px
    }
}

header a {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff
}

.logo {
    height: 1.5rem;
    margin: .9375rem 0 .9375rem .9375rem
}

nav {
    display: block;
    opacity: 1;
    font-weight: 300;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    transition: opacity .35s ease, transform .35s ease;
    transform: translateX(102%);
    background: linear-gradient(#87DB48, #5CA724);
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.25)
}

nav.open {
    overflow: auto;
    transform: translateX(1rem)
}

@media(min-width: 666px) {
    nav {
        width: 40%
    }
}

nav ol {
    margin: 4rem 0 0;
    padding: 0
}

nav li {
    list-style: none
}

nav a {
    display: block;
    margin: .5rem 0;
    padding: 1rem 1rem;
    transition: transform .35s ease
}

nav a:hover,
nav a:active {
    transform: translateX(.5rem)
}

nav.open a {
    padding-left: 2rem
}

.nav-toggle {
    font-size: 1.25rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    float: right;
    cursor: pointer
}

nav.open .nav-toggle {
    font-size: 1.25rem;
    position: absolute;
    top: 1.5rem;
    right: 2.3rem;
    float: right;
    cursor: pointer
}

ul#list {
    position: relative;
    z-index: 1;
    margin: .9375rem;
    padding: 1px;
    border-radius: 5px
}

#list li {
    font-size: .9375rem;
    font-weight: 300;
    display: block;
    overflow: hidden;
    padding: 1rem;
    cursor: pointer;
    color: #444;
    border-bottom: 1px solid #FAFAFA;
    background: #fff
}

#list li:last-of-type {
    border: none
}

#list li:after {
    font-size: 1.25rem;
    float: right;
    /* content: url("http://www.danielmdesigns.com/app/symplist/imgs/list/checkbox.png"); */
    content: url("/app/symplist/imgs/list/checkbox.png");
    color: #ddd
}

form>.emptyState {
    margin: 3.125rem auto;
    text-align: center
}

form>.emptyState img {
    width: 100%;
    max-width: 237px;
    margin-bottom: .625rem;
    text-align: center
}

.fab {
    font-size: 1.875rem;
    font-weight: 100;
    line-height: normal;
    position: fixed;
    z-index: 1;
    right: .9375rem;
    bottom: .9375rem;
    overflow: hidden;
    width: 56px;
    min-width: 56px;
    height: 56px;
    margin: auto;
    padding: 0;
    cursor: pointer;
    transition: background-color .35s ease, transform .35s ease;
    color: #fff;
    background-color: #87DB48;
    border-radius: 50%;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2)
}

.fab .icon_fab {
    display: block;
    margin-top: -4px
}

.fab:hover {
    background-color: #79d733
}

.fab:active {
    transform: scale(.9)
}

.modal:before {
    content: "";
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.2)
}

.modal:closed {
    display: none
}

.modal__container {
    position: fixed;
    z-index: 1;
    top: 4rem;
    left: .9375rem;
    right: .9375rem;
    display: block;
    margin: 0 auto;
    padding: 1.25rem 2.5rem;
    text-align: center;
    border-radius: 4px;
    background: #fff;
    max-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)
}

.modal__title {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1.25rem;
    color: #444
}

button {
    font-size: .875rem;
    font-weight: 100;
    float: right;
    padding: .9375rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent
}

button:hover {
    background-color: transparent
}

button.btn-add {
    font-weight: 700;
    color: #87DB48
}

button.btn-cancel {
    color: #ddd
}

input,
input[type=text] {
    width: 100%;
    margin-bottom: .625rem;
    padding: .625rem 0;
    border: 1px solid #ddd;
    -webkit-border-radius: none;
    border-radius: 3px;
    outline: none;
    background-color: #fff;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    -webkit-appearance: none
}

input:focus,
input[type=text]:focus {
    border: 1px solid #ddd;
    outline: none;
    background-color: #fff;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    -webkit-appearance: none
}

.ath {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #fff;
    background: linear-gradient(#87DB48, #5CA724)
}

.ath img {
    margin-top: 12rem
}

.is-blur {
    filter: blur(2px)
}

.is-hidden {
    opacity: 0
}

.is-visible {
    display: block
}

main {
    position: relative;
    z-index: 1;
    margin: .9375rem;
    padding: 1px;
    border-radius: 5px
}

@media(min-width: 450px) {
    main {
        max-width: 600px;
        margin: .9375rem auto
    }
}

main>.hero {
    margin: 1rem auto;
    text-align: center
}

h1,
p {
    color: #95989A;
    font-weight: 300;
    text-align: center
}

h1 {
    margin: 0;
    font-size: 26px;
    line-height: 39px
}

p {
    margin: .875rem 0 1.5rem 0;
    font-size: 1rem;
    line-height: 1.5rem
}

.btn {
    display: block;
    float: none;
    text-align: center;
    text-decoration: none
}

.btn-primary {
    padding: .9375rem 0;
    font-weight: 700;
    font-size: .875rem;
    margin: 0 auto;
    color: #fff;
    background-color: #87DB48;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
    transition: background-color .35s ease, transform .35s ease
}

@media(min-width: 450px) {
    .btn-primary {
        width: 100%;
        max-width: 250px
    }
}

.btn-primary:hover {
    background-color: #79d733
}

.btn-primary:active {
    transform: scale(.9)
}

.btn-link {
    color: #87DB48;
    font-weight: 300;
    margin: 1.5rem auto
}

.bull-list {
    margin-bottom: 1.875rem
}

.bull-list p {
    display: block;
    text-align: left
}

.bull-list__title,
.bull-list__item {
    margin: 0 !important
}

.bull-list__item {
    padding-left: .625rem
}

.statusbar {
    padding: 0;
    margin-bottom: 2px;
    background-color: #87DB48
}

@media(orientation:landscape) {
    .statusbar {
        padding: 0;
        margin-bottom: 2px;
        background-color: #87DB48
    }
}

/*# sourceMappingURL=app.css.map */